﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Hola Mundo Core..!</p>
<p>Hola Mundo Core 2 ..!</p>
<p>Hola Mundo Core 3 ..!</p>

<p>Hola Mundo Core 4 ..!</p>
